body{
  background-color: rgb(36, 36, 36);
}



.hero-content h1{
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}


/* Hero Section */
.hero-section {
  background: url('/assets/hero-bg.jpg') no-repeat center center/cover;
  padding: 80px 20px;
  text-align: center;
  max-width: 700px;
  text-align: left;
  margin-left: 50px;
}

.hero-content h1 {
  color: rgb(53, 250, 46);
  text-shadow: 12px 10px 12px rgb(12, 12, 12);
  font-size: 4.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.hero-content p {
  font-size: 1.5rem;
  color: rgb(165, 165, 165);
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  max-width: 500px;
  font-style: italic;
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style:oblique;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.cta-button {
  background-color: rgb(196, 195, 195);
  color: black;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight:525;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  border: 2px solid black;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.cta-button:hover{
  background-color: rgb(53, 250, 46);
}

/* Features Section */
.features-section {
  padding: 50px 20px;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(165, 165, 165);
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  font-style: italic;
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style:oblique;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.features-section h1{
  color: white;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.feature-image {
  width: 300px;
  margin: 20px;
}

.feature-text {
  max-width: 800px;
  font-size: larger;
}

.feature-text h3{
  color: #06f04c;
}

.feature-text p{
  color: white;
}


.student-img{
  position: absolute;
  width: 600px;
  height: 400px;
  top: 30%;
  right: 3%;
  border: 1px solid black;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  box-shadow: 10px 5px 10px black;

}

.money-img{
  position: absolute;
  width: 600px;
  height: 400px;
  top: 20%;
  right: 30%;
  border: 1px solid black;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 10px 5px 10px black;
  opacity: 90%;
}



/* Footer */
.footer-sec {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  background-color: #505050;
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style:oblique;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}


.footer-section h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  
}

.footer-section a{
  text-decoration: none;
  color: white;
}
.footer-section li {
  margin: 5px 0;
  text-decoration: none;
}

.social-icons {
  display: flex;
  gap: 10px;
  line-height: 1.6;
  color: white;
}

.app-links img {
  width: 120px;
  margin-top: 10px;
  cursor: pointer;
}
.app-links{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
